@font-face {
    font-family: 'Merri';
    src: url('../Fonts/Merriweather-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Raleway';
    src: url('../Fonts/Raleway-VariableFont_wght.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

:root{
    --titulo: #4C529B;
    --btn:#858CE6;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Merri', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5fa;
    color: #333;
    padding-top: 70px;
}
body, html {
    width: 100%;
    overflow-x: hidden;
}

/*loader*/
.loader{
    background-color: #f5f5fa;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}
@keyframes loader{
    0%{
        opacity: 1;
        visibility: visible;
    }
    95%{
        opacity: 1;
        visibility: visible;
    }
    100%{
        opacity: 0;
        visibility: hidden;
    }
}
.loader div{
    background: var(--titulo);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 10px;

    transform: scale(0);

    animation: scaling 2s ease-in-out infinite;
}
.loader div:nth-child(1){
    animation-delay: 0.2s;
}
.loader div:nth-child(2){
    animation-delay: 0.4s;
}
.loader div:nth-child(3){
    animation-delay: 0.6s;
}
@keyframes scaling {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(.2);
    }
}

/*elementos*/
#principal, #proyectos, #contacto{
    scroll-margin-top: 80px; 
}

h1{
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
}
h2{
    font-family: 'Raleway', sans-serif;
    font-size: 32px;
}
h3{
    font-family: 'Raleway', sans-serif;
    font-size: 28px;
}
h4{
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
}
p{
    font-size: 16px;
}
a{
    font-size: 16px;
}

/*header*/
header {
    position: fixed;
    top:0;
    left: 0;
    z-index: 999;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
    padding-left: 20px;
    background-color: #ffffff;
    border-bottom: 3px solid #D4CEE6;
    height: 70px;
}

h1 .light {
    color:var(--titulo);
}
h1 .bold {
    font-weight: bold;
    color: #D4CEE6;
}
nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li{
    height: 30px;
    width: 90px;
    display: flex;
    align-items: center;
    justify-items: center;
}
nav ul li a {
    text-decoration: none;
    color: #4C529B;
    font-weight: bold;
}
.op:hover {
    color: white;
    background-color: #D4CEE6;
}

.btn-cv {
    background-color:#6a5acd;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
}

/*principal*/
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
}
.hero .info h2 {
    color: var(--titulo);
}
.btn-hablemos {
    display: inline-block;
    background-color: #6a5acd;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
}
.carousel {
    position: relative;
    width: 100%;
    max-width: 600px;
    overflow: hidden;
    z-index: 1;
}

.carousel-container {
    display: flex;
    overflow: hidden;
    transition: transform 0.5s ease-in-out;
}

.carousel-item {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

/*herramientas */
.herramientas {
    margin-left: 10px;
    margin-right: 10px;
    padding-right: 30px;
    padding-left: 30px;
    text-align: center;
}
h3{
    font-family: 'Raleway', sans-serif;
    color: #4C529B;
}
p{
    font-size: 14px;
    color:#635f75;
}
.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    text-align: center;
}
.tool {
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: left;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    color: #6a5acd;
    font-size: 16px;
    font-weight: bold;
    min-height: 50px;
    text-align: center;
    transition: all 0.3s ease;
}

.tool:hover {
    transform: scale(1.07);
}

.tool-div{
    background-color: #85ABE6;
    display: flex;
    align-items: center;
    justify-content:center;
    padding: 5px;
    border-radius: 15px;
    width: 43px;
}
.tool-div img{
    width: 40px;
    height: 40px;
}
.text-tool{
    padding-left: 14px;
}

.tool p {
    margin-top: 10px;
}

/*proyectos*/
.proyect{
    background-color:#D4CEE6;
    text-align: center;
    margin-top: 30px;
    padding-top: 10px;
    margin-bottom: 30px;
    padding-bottom: 20px;
}
.cards-container {
    display: grid;
    margin-left: 30px;
    padding: 20px;
    grid-template-columns: repeat(2, 1fr);
    align-items: stretch;
    justify-content: center;
    gap: 30px;
}
.card {
    background-color: #7A77D9;
    border-radius: 15px;
    padding: 10px;
    text-align: center;
    width: 300px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    display: flex;
    position: relative;
    flex-direction: column;  
    z-index: 100px;  
    /*height: 100%;*/
}
.card video {
    width: 100%;
    height: auto;
    border-radius: 10px;
}
.card h4 {
    color: white;
    font-family: 'Raleway', sans-serif;
    margin-top: 30px;
}
.proyect h3{
    color: white;
}
.hover-card {
    position: absolute;
    top: 0;
    left: 100%;
    height: 90%;
    width: 250px;
    background-color: #ffffff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, transform 0.3s ease;
    transform: translateX(-40px);
}
.card:hover .hover-card {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
}
.btn-ver {
    display: inline-block;
    background-color: #6a5acd;
    color: white;
    padding: 8px 15px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
}